 span{
    color: rgb(166, 33, 243);
    padding: 30px;
    margin: 30px;;
 }
 nav{
    background-color: rgb(20, 90, 230);
 }
 img{
    width: 50px;
    height: 50px;

 }
 .navbar{
    text-align:center;
    top:0;
    width:200;
    background-color: rgb(28, 28, 32);
    z-index: 1000;
    transition: all 0.3s ease;
    padding: 1rem 0;
    height: 200;
    position: relative;
 }
.nav-container{
    max-width: 1200px;
    margin:auto;
    padding:0 20px;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    display: flex;
    align-items: center;
    color:rgb(248, 155, 17);
    height: 30px;
}
.nav-menu{
    display: flex;
    list-style: none;
    gap:2rem;
    margin:auto;
}
.nav-link{
    color:rgb(3,235,204);
    text-decoration:none;
    font-weight:500;
    transition: color 0.3s ease;
    position:relative;
}
.nav-link:hover{
    color:var(--lightblue);
}
.nav-logo img{
    margin-top: 15px;
    width: 60px;
    height: 60px;
    border-radius:50%
}
